<%- include("../header", {title: title}); %>

<h1>Order <%= order %> details</h1>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<p>Order status: <%= res[0].order_status %> </p>
<p>Order last updated: <%= res[0].updated %> </p>
<p>Customer ID: <%= res[0].kund_id %> </p>
<p>Name: <%= res[0].kund_namn %> </p>
<p>#Rows: <%= res[0].order_rader %> </p>
<table class="narrow center bold">
    <tr>
        <th>Products</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
<% if(res[0].produkt_namn) { for (const row of res) { %>
    <tr>
        <td class="center"><%= row.produkt_namn %></td>
        <td class="center price"><%= row.produkt_pris %></td>
        <td class="center"><%= row.kvantitet %></td>
        <td class="center price"><%= row.sum_rad %></td>
    </tr>
<% }}; %>

</table>

<% if(res[0].total) { %><div class="total"><p>Total: <%= res[0].total %>:-</p></div> <% } %>
<p class="outer-button back"><a class="button" href="/eshop/order">Back</a></p>

<%- include("../footer"); %>
