<%- include("header", {title: title}); %>

<h1><%=type%> products</h1>

<p>Here are all the products.</p>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<table class="wide center">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>In stock</th>
        <th>Categories</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.id %></td>
        <td><%= row.namn %></td>
        <td class="price"><%= row.pris %></td>
        <td><%= row.Lagersaldo %></td>
        <td><%= row.Kategorier %></td>
    </tr>
<% }; %>
</table>

<p class="outer-button"><a class="button" href="/eshop/category">See categories</a></p>

<%- include("footer"); %>
