<%- include("../header", {title: title, siteRoute: siteRoute}); %>

<h1>Delete</h1>

<p>These are the details for sushi <%= item %>.</p>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<% res = res[0] %>
<form class="narrow center form-stack" method="post" action="<%= siteRoute %>/sushi/delete">
    <fieldset>
        <label class="center stack" for="id">Id</label>
        <input class="narrow-field center" id="id" type="text" name="id" readonly value="<%= res.id %>">

        <label class="center stack" for="name">Name</label>
        <input class="wide-field center" id="name" type="text" name="name" readonly value="<%= res.name %>">

        <label class="center stack" for="tv">TV Date</label>
        <input class="wide-field center" id="tv" type="date" name="tv" readonly value="<%= res.tv_date %>">

        <label class="center stack" for="image">Image</label>
        <input class="wide-field center" id="image" type="text" name="image" readonly value="<%= res.image %>">

        <label class="center stack" for="details">Details</label>
        <textarea class="text-field center" id="details"  name="details" readonly><%= res.details %></textarea>

        <input class="button" type="submit" name="doit" value="Delete">
    </fieldset>
</form>

<p class="outer-button back"><a class="button" href="<%= siteRoute %>/sushi/read">Back</a></p>

<%- include("../footer"); %>
