<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">
<script src="https://use.fontawesome.com/0aee473986.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<header>
    <a href="<%= siteRoute %>/index"><img class="nav-image" src="/img/home.png" alt="cd"></a>
    <nav>
        <a class="button nav" href="<%= siteRoute %>/index">Home</a>
        <a class="button nav" href="<%= siteRoute %>/logg">Log</a>
        <a class="button nav" href="<%= siteRoute %>/search">Search</a>
    </nav>
</header>

<main>
    <div class="banner">
        <img class="image" src="/img/code.jpg" alt="code">
    </div>
