<%- include("header", {title: title}); %>

<h1>Update product details</h1>

<p>These are the details for product <%= product %>.</p>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<% res = res[0] %>
<form class="label-center" method="post" action="/eshop/update">
    <fieldset>
        <legend>Update product</legend>

        <label for="id">Id</label>
        <input id="id" type="text" name="id" readonly value="<%= res.id %>">

        <label for="namn">Name</label>
        <input id="namn" type="text" name="namn" value="<%= res.namn %>">

        <label for="pris">Price</label>
        <input id="pris" type="number" name="pris" value="<%= res.pris %>">

        <label for="bild">Image Link</label>
        <input id="bild" type="text" name="bild" value="<%= res.bild_lank %>">

        <label for="info">Description</label>
        <input id="info" type="text" name="info" value="<%= res.beskrivning %>">

        <input type="submit" name="doit" value="Edit">
    </fieldset>
</form>

<%- include("footer"); %>
